---
layout: default
title: /projects
---

{% include header.html %}
<section class="content-wrap">
	<section>
		<ul class="project-gallery">
			{% for project in site.categories.projects limit:10 %}
			<div class="project-wrap" style="
				background: linear-gradient(90deg,
					rgba(255, 255, 255, 0.8) 0%,
					rgba(255, 255, 255, 0.2)) 100%,
					url({{ site.baseurl }}/{{ project.category }}/{{ project.images.gallery }});
				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				background-size:cover;
				overflow: hidden;
		">
				<li>
					<a href="{{site.baseurl}}{{project.url}}">
						<span class="project-title">{{ project.title }}</span>
						{% if project.subtitle %}<br><span class="project-subtitle">{{project.subtitle}}</span>{% endif %}
						{% if project.excerpt %}<span class="project-excerpt">{{ project.excerpt | strip_html | strip_newlines }}{% endif %} <span class="entypo-right-open icon arrow"></span></span>
						{% if project.tags %}<ul class="project-tags">{% for tag in project.tags limit:1 %}<li class="gallery-tag tag">{{tag}}</li>{% endfor %}</ul>{% endif %}
					</a>
				</li>
			</div>
			{% endfor %}
		</ul>
		<div class="clear"></div>
		<div class="archive-nav">
			<a href="{{site.baseurl}}/archive/projects/" class="btn" id="archive-btn">Archive</a>
		</div>
	</section>
</section>
