body {
  background: $background-color;
  font-family: $base-font-stack;
  p {
    font-size: $base-font-size;
  }
}

ul {

}

li {
	list-style: circle;
}

img {
  border: $frame-thicknesss solid $black-color;
}

section, article {
  a {
    padding: 0px 1px;
    color: $black-color;
    text-decoration: none;
    border-bottom: 3px solid lighten($brand-color, 15%);
    &:hover {
      background-color: lighten($brand-color, 15%);
      border-color:  $brand-color;
    }
  }
}
