body {
  background: $background-color;
  font-family: $base-font-stack;
  p {
    font-size: $base-font-size;
  }
}



strong {
  font-weight: $bold;
}

img {
  border: 3px solid $black-color;
  padding: 5px;
  margin: 10px;
}

a {
  color: $black-color;
  text-decoration: none;
  &:hover {
    color: $brand-color;
  }
}

.content-wrap {
  .link {
    padding: 0px 1px;
    color: $black-color;
    text-decoration: none;
    border-bottom: 3px solid lighten($brand-color, 15%);
    &:hover {
      color: $black-color;
      background-color: lighten($brand-color, 15%);
      border-color:  $brand-color;
    }
  }

  .article-wrap {
    a {
      padding: 0px 1px;
      color: $black-color;
      text-decoration: none;
      border-bottom: 3px solid lighten($brand-color, 15%);
      &:hover {
        color: $black-color;
        background-color: lighten($brand-color, 15%);
        border-color:  $brand-color;
      }
    }

  }


}
