footer {
	width: 100%;
	position: relative;
	@include shadow(#AAB1AA);

	.bottom-wrap {
		padding: 3px 8px;
		background: linear-gradient(13deg,
			rgba(94,67,218, 0.45),
			rgba(239, 140, 218, 0.45),
			rgba(119,204,207, 0.45)),
			url(../img/footer.jpg);
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		border: 3px solid $black-color;
	}

	.name-text {
		display: block;
		width: 100%;
		font-family: $brand-font-stack;
		font-style: italic;
		font-weight: $bold;
		font-size: 20px;
		color: $white-color;
		background-color: $black-color;
		text-align: center;
		padding-top: 1px;
	}

	.footer-nav {
		float: left;

	}

	.contact {
		position: absolute;
		bottom: 8px;
		right: 10px;
		font-size: 18pt;
	}

	.copyright {
		display: block;
		font-family: $base-font-stack;
		font-size: 10pt;
		font-style: italic;
	}
}
