.project-title, .post-title, .archive-title {
	font-family: $brand-font-stack;
	font-weight: $bold;
	font-size: 14pt;
}

.project-subtitle, .post-subtitle, .archive-subtitle {
	font-family: $brand-font-stack;
	font-weight: $regular;
	font-style: italic;
	font-size: 14pt;
}

.project-excerpt, .post-excerpt, .archive-excerpt {
	font-family: $base-font-stack;
}

.project-gallery {
	text-align: center;
	margin-right: 40px;
	ul {
		margin-left: auto;
		margin-right: auto;
	}

	li{
		display: inline-block;
		padding: 10px;
	}
}

.project-wrap {
	width: 270px;
	height: 320px;
	overflow: hidden;
	border: $frame-thicknesss solid $black-color;
	display: inline-block;

}

.clear {
	clear: both;
}
