.project-title, .post-title, .archive-title {
	font-family: $brand-font-stack;
	font-weight: $bold;
	font-size: 14pt;
}

.project-subtitle, .post-subtitle, .archive-subtitle {
	font-family: $brand-font-stack;
	font-weight: $regular;
	font-style: italic;
	font-size: 14pt;
}

.project-excerpt, .post-excerpt, .archive-excerpt {
	font-family: $base-font-stack;
}

.project-gallery {
	li{
		display: inline-block;
	}
}

.project-wrap {
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
	border: $frame-thicknesss solid $black-color;
}

.clear {
	clear: both;
}
