.project-title, .post-title, .archive-title {
	font-family: $brand-font-stack;
	font-weight: $bold;
	font-size: 14pt;
}

.project-title {
	font-size: 20pt;
	background-color: $black-color;
	color: $white-color;
	padding: 0px 6px;
}

.project-subtitle, .post-subtitle, .archive-subtitle {
	font-family: $brand-font-stack;
	font-weight: $regular;
	font-style: italic;
	font-size: 14pt;
}

.project-subtitle{
	margin-top: 1%;
	display: block;
}

.project-excerpt, .post-excerpt, .archive-excerpt {
	font-family: $base-font-stack;
}

.project-excerpt {
	display: block;
	margin-top: 1%
}



.project-gallery {
	text-align: center;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;

	li{
		display: inline-block;
		padding: 10px;
	}
}

.project-wrap {
	width: 90%;
	height: 230px;
	overflow: hidden;
	border: $frame-thicknesss solid $black-color;
	display: block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	@include shadow(#AAB1AA);
}

.post-wrap{
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

ul .project-tags {
	padding: 0px;
}

.gallery-tag {
	color: $black-color;
	border-color: $black-color;
	font-family: $brand-font-stack;
	font-size: 12pt;
	margin: 8px 0px 0px 6px;
	display: inline-block;
	padding: 2px !important;
}
