header {
	font-family: $base-font-stack;
	border: $frame-thicknesss solid $black-color;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	@include shadow(#AAB1AA);

	h1 {
		color: $black-color;
		font-family: $brand-font-stack;
		font-weight: $bold;
		font-style: italic;
		font-size: 23vh;
		margin-top: 0.05em;
		margin-bottom: 0.15em;
		padding-left: 24px;
		line-height: 100%;
	}

	.header-text {
		.text {
			color: $white-color;
			background-color: $black-color;
			display: inline-block;
			padding-left: 22px;
			padding-right: 4px;
			padding-bottom: 4px;
			max-width: 1000px;
		}
		.tag {
			color: $black-color;
			background-color: $white-color;
			border-color: $black-color;
			font-family: $brand-font-stack;
			font-size: 12pt;
		}
		.subtitle {
			font-size: 14pt;
		}

		.me-name, .me-am, p {
			color: $white-color;
			background-color: $black-color;
			display: inline-block;
			padding-left: 22px;
			padding-right: 4px;
			padding-bottom: 4px;
			max-width: 1000px;
		}
		.down-arrow {
			color: $white-color;
			background-color: $black-color;
			display: inline-block;
			padding-left: 22px;
			padding-right: 22px;
			&:hover {
				color: $brand-color;
			}
		}
	}

	.me-name {
		font-family: $brand-font-stack;
		font-size: 20pt;
		margin-top: 3vh;
	}

	.me-am {
		font-family: $brand-font-stack;
		font-size: 18pt;
		font-style: italic;
	}

	.down-arrow {
		font-size: 50pt;

	}

	p {
		color: $black-color;
		font-family: $base-font-stack;
		font-size: 14pt;
		font-weight: $regular;
		margin-top: 14px;
		margin-bottom: 5vh;
	}

	.header-nav {
		text-shadow: 0px 0px 45px #CDD5C4;
	}

	nav ul {
		text-align: center;
	}

	.btn {
		font-size: 26pt;
		display: inline-block;
		min-width: 316px;
		margin: 4px 10px;

	}


}
