nav {
	font-family: $brand-font-stack;

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline;
		list-style: none;
	}
}

.btn {
	font-family: $brand-font-stack;
	font-size: 24px;
	font-weight: $regular;
	@include btn($black-color, $brand-color, $brand-color);
}

.down-link {
	margin-top: 2px;
	color: $black-color;
	li{
		display: block;
		font-size: 22pt;
		margin-bottom: 2px;

		a span{
			display: inline-block;
			font-size: 42pt;
			border: 3px solid $black-color;
			padding: 0px 18px;
			margin-bottom: 18px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			&:hover {
				border-color: $brand-color;
			}
		}
	}
}

.tag-list {
	margin: 0;
	padding: 0;
}

.tag {
	font-family: $base-font-stack;
	font-size: $base-font-size;
	font-weight: $regular;
	@include tag($black-color);
	display: inline;
	list-style: none;
}



.header-nav {
	font-weight: $bold;
	font-style: italic;
	font-size: 30px;
	display: block;
	width: 100%;
	text-align: center;
	.logo-text {
		font-size: 36px;
	}
}

.footer-nav {
	font-weight: $bold;
	font-style: italic;
}

.sub-nav ul{
	margin: 0px auto;
	text-align: center;
}

.archive-nav {
	margin: 0px auto;
	text-align: center;
}
