---
layout: default
title: /blog
---

{% include header.html %}
<section class="content-wrap">
	<section>
		{% for post in site.categories.blog %}
			<a href="{{site.baseurl}}{{post.url}}">
				<h2>{{post.date | date_to_string }}</h2>
				<br>
				<span class="post-title">{{ post.title }}</span>
				{% if post.subtitle %}<span class="post-subtitle">{{post.subtitle}}</span>{% endif %}<br>
				{% if post.excerpt %}<span class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines }}{% endif %}<em> read blog post </em><span class="entypo-right-open icon arrow"></span></span><br>
			</a>
		{% endfor %}
		
		<div class="archive-nav">
			<a href="{{site.baseurl}}/archive/posts/" class="btn" id="archive-btn">Archive</a>
		</div>
	</section>
</section>
