---
layout: default
---

{% include header.html %}
<section class="content-wrap">
	<article class="article-wrap">
		{{ content }}
	</article>
</section>

<!-- START: Livefyre Embed -->
<section class="content-wrap">
	<div id="livefyre-comments"></div>
</section>

<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "380506",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
